.root
{
    -fx-background-color: #20ab1b;
}
#calcTitle
{
    -fx-background-color:#cf2b2b ;
    -fx-alignment: center;
    -fx-background-radius: 12%;
    -fx-padding: -4px;
}
.button
{
    -fx-background-radius: 5%;
    -fx-background-color: #97c7f7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.text-field
{
    -fx-background-color: #b0acac;
}